
/*  --------------- DASHBOARD ---------------------- */

.dashboard{
    padding-top: 50px;
    border-radius: 5px;

    .sports {

        p {
            text-align: center;
        }
        .football {
            background-color: #54a0ff;
        }
        
        .tennis {
            background-color: #feca57;
        }
        
        .basketball{
            background-color: #ff9f43;
        }
        
        .handball{
            background-color: #10ac84;
        }
        .padel {
            background-color: #ee5253;
        }

    }

}

// .party {
//     padding: 10px;
//     color: white;
//     border-radius: 5px;
// }




/* Profile container */

.profile {
    margin: 20px 0;
}


/* Profile sidebar */

.profile-sidebar {
    padding: 20px 0 10px 0;
    border-radius: 5px;
    margin-bottom: 30px;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    border: 1px solid grey;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.sports { 
    background-color: #fff;
    padding: 20px 0 20px 20px;
    border-radius: 5px;
}
.sports_dashboard{
    padding: 20px;
    min-height: 80px;
    border-radius: 5px;
    color: white;
}

.sports_dashboard:hover {

    color: blue; 
    -moz-box-shadow: 0px 2px 5px 0px #656565;
    -webkit-box-shadow: 0px 2px 5px 0px #656565;
    -o-box-shadow: 0px 2px 5px 0px #656565;
    box-shadow: 0px 2px 5px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=3);
    transition: 0.3s;
}

.sports_dashboard:hover a{
    color: blue; 
}
.sports_cat{
    padding-left:0;
}
.sports_cat > li {
    margin-bottom: 25px;
    padding-top: 20px;
}

.sports_libelle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.sports_cat a:hover{
    color:white;
}
/* Profile Content */

.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}
