<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Join Us !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset( 'build/app.css' ) }}"/>
        
    </head>
    <body>
        <header> 
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand col-md-2" href="{{ path('homepage') }}"> <h1> Join us</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse col-md-4 offset-md-6" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('utilisateur_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('utilisateur_new') }}"> Creer un compte </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
