{% extends "base.html.twig" %}

{% block body %}
    <p> blabla </p>

    {# Bienvenue {{ user_connect.prenom }} #}

    <a href="{{ path('utilisateur_logout') }}">Se deconnecter</a>

{% endblock %}


