{% extends "base.html.twig" %}
{% block body %}






<div class="form_login row">

  <h4 class="text-center col-md-12"> Connectez-vous </h4>

  <form action="{{ path('login_check') }}" method="post" class="form-group col-md-8 offset-md-2">
    <label for="username" class="control-label col-8 offset-4 col-md-7 offset-md-4">Login</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}"  class="form-control col-8 offset-2 col-md-4 offset-md-4"/>
    <label for="password" class="control-label col-8 offset-4 col-md-7 offset-md-4" >Mot de passe</label>
    <input type="password" id="password" name="_password"  class="form-control col-8 offset-2 col-md-4 offset-md-4 "/>
    <br />
    <input type="submit" value="Connexion"  class="btn btn-primary  col-6 offset-3 col-md-2 offset-md-5 "/>
  </form>
</div>
<div class="login_error">
  {% if error %}

    <div class="alert alert-danger col-md-2 offset-md-5">Mauvais combinaison Pseudo/Mot de passe </div>

  {% endif %}
</div>


{% endblock %}