{% extends "base.html.twig" %}
{% block body %}


  {# S'il y a une erreur, on l'affiche dans un joli cadre #}

  {# {% if error %}

    <div class="alert alert-danger">{{ error.message }}</div>

  {% endif %} #}

  <h4 class="text-center"> Entrez votre pseudo et votre mot de passe pour vous connecter </h4>

  <form action="{{ path('login_check') }}" method="post" class="form-group">
    <label for="username" class="control-label col-sm-4 offset-sm-4">Login :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control col-sm-4 offset-sm-4"/>
    <label for="password" class="control-label col-sm-4 offset-sm-4" >Mot de passe :</label>
    <input type="password" id="password" name="_password" class="form-control col-sm-4 offset-sm-4"/>
    <br />
    <input type="submit" value="Connexion"  class="btn btn-primary col-sm-4 offset-sm-4"/>
  </form>


{% endblock %}