{% extends 'base.html.twig' %}

{% block body %}

    <div class="container received_message"> 
        <div class="row">
            <div class="col-md-10 offset-md-1" style="background-color:white; padding-top: 30px;">
                <h2 class="text-center"> Messages reçus </h2>
                <hr>
                 {% if contacts %}
                    <ul>
                    
                        {% for contact in contacts %}
                            <li>
                                <p> <strong>Contact</strong> : <a href="mailto:{{ contact.mail}}">{{ contact.mail}}</a></p>
                                <p> <strong>Message</strong> : {{ contact.message}} (envoyé le {{ contact.sendAt|date('d/m/Y')}})</p>
                                <hr>
                            </li>     
                          
                        {% endfor %}   
                    </ul>
                {% else %}
                    <p> Vous n'avez reçu aucun message.
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
