@import '../../node_modules/bootstrap/dist/css/bootstrap.css';

/** 
* Global Styles
*/
body{
    font-family: 'Open Sans', sans-serif;
    background: #F1F3FA;
    padding-top: 85px;
}

.page {
    width: 100%;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
}
/**
 * Header Styles
 */

.site-header{
    width: 100%;
    height: 82px;
    
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    left: 0;
    z-index: 20;;

}

/**
 * Main Styles
 */
.site_main{ 

    margin-top: 80px;
    min-height: 100vh; 
    padding-bottom: 50px;
}



/**
 * Footer Styles
 */

.footer {
    width: 100%;
    padding: 1rem;

    background-color: #efefef;
    text-align: center;
}




.error_message {
    color: red;
}


.avatar_partie {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 50px;
    max-width: 50px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
}



/*  --------------- HOME PAGE ---------------------- */

.masthead {
    padding: 20%;
    background: url('../../web/images/foot.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.features-icons {
    padding: 10%;
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: #639eda;
    color : white;
    
}
.title-testimonials{
    margin-bottom: 40px;

}

.testimonials .testimonial-item img {
    max-width: 12rem;

}

.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url('../../web/images/foot.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
/*  --------------- LOGIN ---------------------- */


.form_login{
    margin-top: 250px;
}


/*  --------------- NEW COUNT ---------------------- */


.form_new_user{
    margin-top: 140px;
}

/*  --------------- EDIT COUNT ---------------------- */


.edit_user{
    margin-top: 140px;
}

/*  --------------- NEW PARTY ---------------------- */


.new_party{
    margin-top: 140px;
}

/*  --------------- AVATAR ---------------------- */
.edit_avatar {
    margin-top: 160px;
}

/*  --------------- DASHBOARD ---------------------- */

.dashboard{
    padding-top: 50px;
}

/* Profile container */

.profile {
    margin: 20px 0;
}


/* Profile sidebar */

.profile-sidebar {
    padding: 20px 0 10px 0;
    margin-bottom: 30px;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin-left: 25%;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.sports {
   
    background-color: #fff;
    padding: 20px 0 20px 20px;
}
.sports_dashboard{
    min-height: 80px;
    border-radius: 5px;
    color: #007BFF;
    border: solid 1px #007BFF;
}

.sports_dashboard:hover{
    background-color:#007BFF;
    
}
.sports_cat{
    padding-left:0;
}
.sports_cat > li {
    margin-bottom: 25px;
    padding-top: 20px;
}

.sports_libelle {
    font-size: 20px;

    font-weight: bold;
    text-align: center;
}

.sports_cat a:hover{
    color:white;
}
/* Profile Content */

.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

/*  ------------ MEDIA QUERIES ------------------ */


