@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
html,
body {
    height: 100%
}

body {
    margin: 0
}

.page {
    display: table;
    width: 100%;
    height: 100%;

}

.site-header,
.site-main,
.site-footer {
    display: table-row
}

.row {
    padding-bottom: 50px;
}

/**
 * Footer Styles
 */

.footer {
    width: 100%;
    padding: 1rem;

    background-color: #efefef;
    text-align: center;
}
body {
    background: #F1F3FA;
    
}

.container{
    width: 1060px;
}

.error_message {
    color: red;
}


.avatar_partie {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 50px;
    max-width: 50px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans' , Arial, sans-serif;
    font-weight: 700;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url('../../web/images/foot.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}


.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: #234d62;
    color : white;
    
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 3px 3px 0px #adb5bd;
}

.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url('../../web/images/foot.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


/*  ------------------- LOGIN --------------------------- */

.bg-login {
    background-color: #00a8ff;
    min-height: 100vh;
}
.login {
    background-color: white;
    border: 1px solid #5a7391;
    border-radius: 10px;
    margin-top: 100px;
    padding : 30px;
}
/* --------------------- NEW ---------------------------- */


.bg-new {
    background-color: #00a8ff;
    min-height: 100vh;
}

.new {
    background-color: white;
    border: 1px solid #5a7391;
    border-radius: 10px;
    margin-top: 100px;
    padding: 30px;
}

.form_error{
    color:red;
}


 /*  ------------------- DASHBOARD ---------------------- */

/* Profile container */

.profile {
    margin: 20px 0;
}


/* Profile sidebar */

.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

.sports {
   
    background-color: #fff;
    padding: 20px 0 20px 20px;
}
.sports_dashboard{
    min-height: 80px;
    margin-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
    color: white;
    background-color: lightblue ;
}

.sports_libelle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Profile Content */

.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}

 /*  ------------------- SHOW PARTY ---------------------- */

 .party {
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #adb5bd;
 }

 .row_parties {
     margin-bottom: 10px;
 }

 .header_party {
   
 
 }